@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
    --primary-color-1: #1CD1B0;
    --primary-color-2: #00669F;
    --primary-color-2-light: #019bf5;
    --primary-color-3: #001D2D;
    --primary-color-4: #2C0187;
    --primary-color-5: #888888;
    --primary-color-5-dark: #5f5f5f;
    
    --card-bg-color: #F3F3F3;

    --font-color-1: #FFFFFF;
    --font-color-2: #dbdbdb;
    --font-color-3: #333333;

    --card-width: 18.75rem;
    --hero-card-img: 7.5rem;
    --position-img-circle: calc((var(--card-width) - var(--hero-card-img))/2);
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header section */

header{
    box-shadow: 0px 10px 10px -6px gray;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header1{
    background-color: var(--primary-color-1);
    padding: 0.6rem;
    font-weight: 700;
}

.header2{
    display: flex;
    align-items: center;
}

.header2,footer{
    background-color: var(--primary-color-2);
    color: var(--font-color-1);
}

.header3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color-3);
    padding: 0.7rem 0;
}

.header3 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header3 a:link{
    text-decoration: none;
    color: var(--font-color-1);
}

.header3 a:visited{
    color: var(--font-color-1);
}

.header3 a:active{
    color: var(--font-color-3);
}

.header3 ul li{
    margin-right: 1rem;
}

/* Hidden drop down menu button */

.dropBton{
    display: none;
    background-color: var(--primary-color-3);
    border: none;
    cursor: pointer;
}

.dropDown{
    display: none;
    position: relative;
    margin-right: 1rem;;
}

.dropDownContent{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownContent a:link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownContent a:visited{
    color: black;
}

.dropDown:hover .dropDownContent{
    display: block;
}

/* Heroes section */

#heroes{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* General style for cards */

.cardHero{
    background-color: var(--card-bg-color);
    box-shadow: 0px 10px 10px -6px grey;
    border-radius: 20px 20px 0 0;
    width: var(--card-width);
    margin: 30px;
}

.contentImgBackground{
    margin-bottom: 4.375rem;
    position: relative;
}

.imgCircle{
    border-radius: 50%;
    box-shadow: 0px 10px 10px -6px grey;
    position: absolute;
    width: var(--hero-card-img);
    top: 65%;
    left: var(--position-img-circle);
}

.imgHearth{
    position: absolute;
    top: 0.938rem;
    left: 1.25rem;
}

.backgroundCard{
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    display: block;
}

.contentCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 17.5rem;
    margin-bottom: 1.25rem;
}

.button{
    background-color: #00669F;
    border-radius: 2.5rem;
    color: white;
    padding: 0.938rem 1.875rem;
    cursor: pointer;
}

.contentCard p{
    overflow: scroll;
    margin: 1rem;
}

.contentCard a{
    text-decoration: none;
    color: var(--font-color-1);
}

.contentCard a:hover{
    background-color: var(--primary-color-2-light);
}

.addHero{
    position: fixed;
    right: 0.1rem;
    bottom: 50vh;
}

/* Footer section */

footer{
    text-align: center;
    padding: 0.938rem;
}

/* Media queries */

@media (max-width: 768px ) {
    .header3 ul{
        display: none;
    }

    .dropDown,.dropBton{
        display: block;
    }

}

@media (max-width: 425px ) {
    .cardHero{
        width: 70%;
    }

    .imgCircle{
        width: 40.4%;
        top: 65%;
        left: 30%;
    }

    .contentCard p{
        overflow: scroll;
        margin: 1rem;
    }

}