@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
    --primary-color-1: #1CD1B0;
    --primary-color-2: #00669F;
    --primary-color-2-light: #019bf5;
    --primary-color-3: #001D2D;
    --primary-color-4: #2C0187;
    --primary-color-5: #888888;
    --primary-color-5-dark: #5f5f5f;
    
    --card-bg-color: #F3F3F3;

    --font-color-1: #FFFFFF;
    --font-color-2: #dbdbdb;
    --font-color-3: #333333;

    --card-width: 34.125rem;
    --hero-card-img: 9rem;
    --position-img-circle: calc((var(--card-width) - var(--hero-card-img))/2);
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header section */

.header1{
    background-color: var(--primary-color-1);
    padding: 0.6rem;
    font-weight: 700;
}

.header2{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.header2,footer{
    background-color: var(--primary-color-2);
    color: var(--font-color-1);
}

/* Heroes section */

main{
    align-items: center;
    background-image: url(../img/quinnbg.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 9rem 0;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* General style for cards */

.specificCardHero{
    background-color: var(--card-bg-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 28.5rem;
    position: relative;
    width: var(--card-width);
}

.specificImgCircle{
    border-radius: 50%;
    position: absolute;
    width: var(--hero-card-img);
    top: -5rem; 
    left: var(--position-img-circle);
}

.imgHearth{
    position: absolute;
    top: 3rem;
    left: 1.5rem;
}

.contentSpecCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    padding: 0 1.5rem 0;
    margin-top: 4rem;
}

.titleCard h2{
    color: var(--primary-color-4);
    text-decoration: underline;
}

.aboutCard span{
    color: var(--primary-color-4);
}

.itemsCard{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.buttonCard{
    background-color: var(--primary-color-4);
    border-radius: 0 0 40px 40px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.specificCardHero a{
    color: var(--font-color-1);
    text-decoration: none;
    font-size: 1.5rem;
}

.specificCardHero a:link{
    color: var(--font-color-1);
    text-decoration: none;
}

/* Footer section */

footer{
    text-align: center;
    padding: 0.938rem;
}

/* Media queries */

@media (min-width: 426px ) and (max-width: 580px){
    .specificCardHero{
        width: 80%;
    }

    .specificImgCircle{
        left: 33%;
    }

    .imgHearth{
        top: 1.5rem;
    }

    .aboutCard{
        overflow: scroll;
        margin: 1rem 0;
    }

    .buttonCard{
        margin: 1rem 0 0 0;
    }
}

@media (max-width: 425px ) {
    .specificCardHero{
        width: 80%;
    }

    .specificImgCircle{
        width: 40.4%;
        top: -15%;
        left: 30%;
    }

    .imgHearth{
        top: 1.5rem;
    }

    .contentSpecCard{
        height: 70%;
    }

    .aboutCard{
        overflow: scroll;
        margin: 1rem 0;
    }

    .buttonCard{
        height: 20%;
        margin: 0.5rem 0 0 0;
    }

}

